<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>Loging to server</description>
		<display-name>Loging to server</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.peoce.wesee.servlet.user.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<description>Regedit</description>
		<display-name>Regedit user</display-name>
		<servlet-name>RegeditServlet</servlet-name>
		<servlet-class>com.peoce.wesee.servlet.user.RegeditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>What New</description>
		<display-name>Get newest pic</display-name>
		<servlet-name>WhatnewServlet</servlet-name>
		<servlet-class>com.peoce.wesee.servlet.content.WhatnewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>What hot</description>
		<display-name>Get Hot pic</display-name>
		<servlet-name>WhathotServlet</servlet-name>
		<servlet-class>com.peoce.wesee.servlet.content.WhathotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>My Friend list</description>
		<display-name>Get My Friend List</display-name>
		<servlet-name>MyFriendListServlet</servlet-name>
		<servlet-class>com.peoce.wesee.servlet.circle.MyFriendListServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegeditServlet</servlet-name>
		<url-pattern>/regedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WhatnewServlet</servlet-name>
		<url-pattern>/whatnew</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WhathotServlet</servlet-name>
		<url-pattern>/whathot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyFriendListServlet</servlet-name>
		<url-pattern>/myfriendlist</url-pattern>
	</servlet-mapping>


</web-app>
